* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 12px;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #4d90d8;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  font-family: "Amatic SC", arial, sans-serif;
  padding-right: 40px;
  padding-left: 10px;
  font-size: 5rem;
  color: black;

  &:hover {
    background-color: #E47960;
    border-radius: 15px;
  }
}

body {
  width: 100%;
  height: auto;
  background-color: #c5d1e6;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
}

h1 {
  font-family: "Amatic SC", arial, sans-serif;
  font-size: 10rem;
  top: 200px;
  margin-top: 140px;
  text-align: center;
}

.header_container {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.intro_under_title {
  position: absolute;
  font-size: 4rem;
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}

.header_paragraph_container {
  display: flex;
  justify-content: center;
}

h2 {
  font-family: "Amatic SC", arial, sans-serif;
  font-size: 8rem;
  padding-left: 20px;
}

h3 {
  font-family: "Amatic SC", arial, sans-serif;
  font-size: 4.5rem;
  margin: 10px 0;
}
.links_content {
  a {
    font-size: 3.5rem;
  }
}

p {
  font-family: "Noto Sans Display", arial, sans-serif;
  font-size: 1.5rem;
}

.about_title {
  color: #030303;
  text-align: center;
  margin-top: 50px;
}

.about_paragraph {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.links_content {
  font-size: 4rem;
}

.contact_title {
  color: #030303;
}

.contact_text {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  color: #030303;
}

.container {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
}

.project_container {
  width: 50%;
  display: flex;
  height: auto;
  flex-direction: column;
  padding: 40px;
  margin: 0;
}

.image_project {
  object-fit: cover;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}

.about_section {
  background-color: #E47960;
  position: relative;
  width: 100%;
  margin-top: 100px;
  padding: 50px;
}

.projects_section {
  background-color: #c5d1e6;
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px;
}

.contact_section {
  background-color: #E47960;
  position: relative;
  width: 100%;
  padding: 50px;
}
.projects_parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.homepage_section_astronaut_floating_image {
  display: inline;
  position: absolute;
  top: 420px;
  left: 200px;
}

.homepage_section_astronaut_reaching_image {
  display: inline;
  position: absolute;
  top: 280px;
  right: 60px;
}

.about_section_astronaut_jumpingjack_image {
  display: inline-block;
  position: absolute;
  right: 40px;
  bottom: 100px;
}

.contact_section_rocket_image {
  display: inline;
  position: absolute;
  top: 210px;
  right: 140px;
}

.contact_section_planet_image {
  display: inline;
  position: absolute;
  top: 20px;
  left: 50%;
}

.contact_links {
  color: #030303;
}

.made_by {
  text-align: center;
}

@media screen and (max-width: 1585px) {
  .homepage_section_astronaut_floating_image {
    display: none;
  }
  .homepage_section_astronaut_reaching_image {
    display: none;
  }
  .contact_section_planet_image {
    display: none;
  }
  .contact_section_rocket_image {
    display: none;
  }
  .image_projects_page {
    display: none;
  }
  .about_section_astronaut_jumpingjack_image {
    display: none;
  }
}


@media screen and (max-width: 900px) {
  .header_container {
    padding-top: 0;
  }
  html {
    font-size: 10px;
  }
  .cv {
    display: none;
  }
  h1 {
    margin-top: 200px;
  }
  .intro_under_title {
    font-size: 2rem;
    max-width: 100%;
    text-align: center;
  }
  nav {
    border-bottom: solid #3f6ab5;
  }
  .about_paragraph {
    font-size: 2rem;
  }
  .aRed {
    font-size: 2.5rem;
    padding-right: 5px;
  }
  header {
    width: 100%;
    height: 620px;
    position: relative;
  }
  .content {
    padding: 0;
  }
  .project_container {
    width: 100%;
    border-bottom: solid #3f6ab5;
  }
  .links_content {
   align-content: center;
  }
  .sections_projects {
    padding: 0;
  }
  .contact_links {
    margin: 0 auto;
    padding: 0 20px;
  }
  .gallery-title {
    margin-top: 100px;
  }
  a {
    padding-right: 20px;
  }
}
