* {
box-sizing: border-box;
} 

html {
	font-size: 12px;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;	
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%
	
}
.cv {
	border-bottom: solid;
	border-width:small;
	border-color:#7198d9;
}

a {
	text-decoration: none;
	font-family: arial, "sans serif";
	padding-right: 30px;
	font-size: 3rem;
	color: black;
}

a:hover {
	background-color: #7298db;
}

body {
	width:100%
	height: auto;
	background-color: #c5d1e6;
}

header {
	display: inline;
	padding:200px;
}

h1 {
	font-family: arial, "sans serif";
	
}

h2 {
	font-family: arial, "sans serif";
}

p{
	font-family: arial, "sans serif";
}