* {
box-sizing: border-box;
} 

html {
	font-size: 12px;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%	
	
}
.navbar {
	background-color:#c5d1e6;
	width: 100%;
	display: block-inline;
	padding:10px;
	margin-bottom:10px;
	
}
.cv {
	border-bottom: solid;
	border-width:small;
	border-color:#7198d9;
}

a {
	text-decoration: none;
	font-family: "Amatic SC", arial, "sans serif";
	padding-right: 80px;
	padding-left: 10px;
	font-size: 5rem;
	color: black;
}

a:hover {
	background-color: #7298db;
	border-radius: 15px;
}

body {
	width:100%
	height: auto;
	background-color: #c5d1e6;
}

header {
	display: block-inline;
	width:100vw;
	height:100vh;
	position: relative;
	top:75px;
	z-index:1;
}

h1 {
	font-family: "Amatic SC", arial, "sans serif";
	font-size: 8rem;
	font-weight: bold;
	margin: 0;
	position: absolute;
	top:40%;
	left:60%;
	transform: translate(-50%, -50%);
	wrap: nowrap;

}
.intro_under_title{
	margin: 0;
	position: absolute;
	top:58%;
	left:45%;
	transform: translate(-50, -50%);
	max-width:40%;
	
}
h2 {
	display: block;
	width:100%;
	font-family: "Amatic SC", arial, "sans serif";
	font-size: 8rem;
	padding-left: 20px;

}

p{
	font-family: "Noto Sans Display", arial, "sans serif";
	font-size: 1.5rem;
	position: block-inline;
	padding-left: 10px;
}
.Projects_Text{
	position: absolute;
	top: 230px;
	display:flex;
	flex-wrap:wrap;
}
.Contact_Text{
	position: absolute;
	top: 230px;
	display:flex;
	flex-wrap:wrap;
}
.container {
	display: flex;
	width:100vw;
	height:858px;
	margin-top: auto;
	margin-bottom: auto;
	justify-content: align-self;
}
.sections_about { 
	background-color: #3f6ab5;
	position: relative;
	width:100vw;
	top:88px;
	z-index:2;
	padding:50px;
}
.sections_projects{
	background-color: #c5d1e6;
	position: relative;
	width:100vw;
	top:88px;
	z-index:3;
	padding:50px;

}
.sections_contact {
	background-color: #3f6ab5;
	position: relative;
	width:100vw;
	top:88px;
	z-index:4;
	padding:50px;
}
.image_homepage {
	display: inline;
	position: relative;
	top:10%;
	left:200px;
	flex-wrap:wrap;
}
.image_about_page {
	display:inline;
	position: relative;
	top: 20%;
}
.image_projects_page {
	display:inline;
	position: relative;
}
.image_contact_page {
	display:inline;
	position: relative;
	top: 20%;
	left:40%;
}
.image_contact_page_two {
	display:inline;
	position: relative;
	right:20%;
}



@media screen and (max-width: 600px) {
	html {
		font-size: 9px;
	}
	.navbar {
		border-bottom:solid;
		border-width:thick;
		border-color:#7198d9;
	}
	.cv{
		border-left:solid;
		border-width:thick;
		border-color:#7198d9;
	}
	h1{
		top:20%;
	}
	.intro_under_title{
		top:40%;
		font-size:2rem;
	}
	.sections_about { 
		top:240px;
		z-index:2;
	}
	.sections_projects{
		top:240px;
		z-index:3;
	}
	.sections_contact {
		top:240px;
		z-index:4;
		height:1000px;
	}	
	p {
		font-size:2rem;
	}
	.image_homepage {
		visibility: hidden; 

	}
	.image_about_page {
		visibility: hidden; 

	}
	.image_projects_page {
		visibility: hidden; 

	}
	.image_contact_page {
		visibility: hidden; 

	}
	.image_contact_page_two {
		visibility: hidden; 

	}
}
